*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: right;
    align-items:center ;
    min-height: 100vh;
    background-image: url("images/wp1870448.webp");
    background-size: cover;
    background-repeat: no-repeat;

}

.container{
    position: relative;
    text-align: center;
    color: white;
    display:flex;
    width: 1050px;
    font-size: 36px;
    text-align: center;
   

    

}
.im{
    background-image: url("images/icons8-users-96.png");

}
.h1{
    flex: 1;
    position: relative;
    top: 350px;
    right:1140px;
}
h1{

    color: white;
    font-weight: bolder;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.h2{
    flex: 1;
    position: relative;
    
    right:1140px;
    top:360px;
    
        /* bottom: 500px; */
    color: white;
    
    
    font-size: 30px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0.8;
}

.container .input{
    width: 100%;
    height: 50px;
    /* background:white; */
    margin: 30px 0;
    left: 100px;

}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: none;
    background-color: white;
    padding: 20px 30px 20px 10px;
    

    
}
.input input::placeholder{
    color: black;
    font-size: 25px;
    left: 100px;
}
.input i{
    position: absolute;
    left:510px;
    
    transform: translateY(15%);
    color: black;
    
    
}
.container .rem{
    display: flex;
    justify-content: space-between;
    /* font-size: 14.5px; */
    margin: -15px 0 15px;
    left: 50%;
}
.rem a{
    color: white;
    text-decoration: none;
    
}
.container .btn{
    width: 50%;
    height: 45px;
    background-color: lightblue;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
}